section .text1 h1{
	color: #078DD0;
}

section .text1 p{
	padding: 10px;
	line-height: 30px;
	text-align: justify;
}

.join-the-hordes img{
	width: 500px;
}

.developer-communication{
	margin-top: 20px;
}

.developer-communication .developer-icon{
	margin-left: 9%;
}

.developer-communication .developer-icon img{
	width: 90px;
	height: 115px;
	padding-bottom: 30px;
}

.developer-communication .developer-icon i{
	font-size: 4em;	
	padding-left: 17%;
}

.developer-communication .developer-link-icon{
	margin-top: -30px;
}

.developer-communication .developer-link-icon a{
	padding-left: 10%;
	text-align: center;
}

.developer-projects ul li{
	list-style: inside;
}

.feedback-text img{
	width: 200px;
}

.feedback-text p{
	margin-top: 15px;
}

section .text1 .block-text img{
	width: 100%;
}

/*Responsive*/
@media (min-width: 320px) and (max-height: 480px){
	.developer-communication{
		padding-bottom: 40px;	
	}

	.developer-communication .developer-icon{
		margin-top: -40px;
	}	

	.developer-communication .developer-link-icon a{
		padding-left: 9%;
	}
}


@media (max-height: 880px) and (max-width: 580px){
	.jumbotron-internal {
		width: 100%;
		height: auto;
	}

	.jumbotron-internal h1{
		padding-top: 20px;
	}
}

@media (min-width: 1960px){
	.jumbotron-internal{
		height: 100%;
	}
	.jumbotron-internal h1{
		padding-top: 60px;
	}
}