.main-menu
	ul-reset()
	+below($media-screen-sm)
		position: fixed;
		height: 100%;
		padding: 20px 0 0 0;
		box-sizing: border-box;
		overflow: auto;
		background-color: #FFF;
		top: 0;
		width: 260px;
		right: -260px;
		z-index 999

	&__title
		font-size: 28px;
		margin  0 40px
		padding: 0 0 30px 0;
		display: none;
		+below($media-screen-sm)
			display: block;


	&__item
		padding 5px 50px 0 0
		list-style none
		font-family ubuntu
		font-size 14px
		float left
		position relative
		+below($media-screen-sm)
			float: none;
			padding 10px 0 0 40px
	&__link
		&
		&:visited
			display block
			text-decoration none
			color white
			transition background 300ms ease-in-out 0s
			+below($media-screen-sm)
				color black

		&:hover
			color white
			text-decoration underline
			+below($media-screen-sm)
				color black

	&__item:hover &__submenu
		visibility visible
		opacity 1

