
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body,{
    font-family: 'PT Sans',bold;
}
      /*ROW FOR FORM*/
.zagolovok {
    font-family: PT Sans, serif;
    font-weight: 700;
    font-size: 23px;
}
.form-group {
    font-family: PT Sans, serif;
    font-weight: normal;
    font-size: 12px;
}
.podzagolovok {
    font-family: PT Sans, serif;
    font-weight: normal;
    font-size: 14px;
}
.input-group {
    width: 100%;
}
.boxer {
    padding: 40px;
    background-color: #f6f6f6;
    border: 1px solid;
    border-color: #d7d7d7;
}
.container {
    margin-bottom: 30px;
}