---
layout: page
---

<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/members">Members</a></li>
                        <li class="active">{{ page.title }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container" id="userProfile">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-2">
                    <img class="img-thumbnail" style="width: 100px" src="{{ site.baseurl }}/img/avatars/{{page.userProfile.key}}.png">
                </div>


                <div class="col-sm-9">
                    <div>
                        <p><strong>Name: </strong>{{ page.userProfile.displayName}}</p>
                        <p><strong>Email: </strong>{{ page.userProfile.emailAddress}}</p>
                        <p><strong>Mobile: </strong>{{ page.ldap-user.mobile}}</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="col-md-12">
                <div class="col-md-11">
                    <div class="tabs customTabsDesign fadeInUp">
                        <ul class="nav nav-tabs">
                            <li class="active pull-left">
                                <a href="#activity" data-toggle="tab"> <i class="fa fa-line-chart"></i>Activity </a>
                            </li>
                            <li class="pull-left">
                                <a href="#skills" data-toggle="tab"><i class="fa fa-briefcase"></i>Skills</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="activity" class="tab-pane active">
                                {% for activity in page.userProfile.userActivity %}
                                <div>
                                    <a href="{{ activity.summary.link.href }}">{{activity.category.term}} {{ activity.summary.summary["$t"]}}</a>
                                    <span><small type="date">at {{activity.updates}}</small></span>
                                </div>
                                {% endfor %}
                            </div>
                            <div id="skills" class="tab-pane">

                                skills bar chart here
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="rightSidebar">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#teams" aria-expanded="false" aria-controls="teams">
                                    Teams
                                </a>
                            </h4>
                        </div>

                        <div id="teams" class="panel-collapse collapse" role="tabpanel" aria-labelledby="teams">
                            <div class="panel-body">
                                <ul class="nav nav-list primary">
                                    <li><a href="">Management</a></li>
                                    <li><a href="">HR</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#projects" aria-expanded="false" aria-controls="projects">
                                    Projects
                                </a>
                            </h4>
                        </div>

                        <div id="projects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="projects">
                            <div class="panel-body">
                                <ul class="nav nav-list primary">
                                    <li><a href="">Subutai Social Foundation</a></li>
                                    <li><a href="">Project management</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- row end -->

    </div>
</div>
