---
layout: page
---

<div class="container-fluid space-blue">
    <div class="container space-content">
        <div class="b-member-avatar text-center">
            <img class="b-member-avatar__img b-member-avatar__img_circle" src="{{ site.baseurl }}/media/avatars/{{ uid }}.png" onError="this.onerror=null;this.src='../../assets/img/empty-avatar.svg';" alt="">
        </div>
        <div class="row space-header text-center">
            <h1 class="space-header__h1">{{ page.ldap-user.cn}}</h1>
        </div>
        <div class="row space-stat space-stat__p space-stat-margin">
            <p>{{ page.ldap-user.email}}</p>
        </div>
    </div>
</div>
<div class="container project-content text-center">
    <div class="project-header">
        {% assign flag = true %}
        {% for project in page.projects %}
            {% assign flag = false %}
        <loop>
            <div class="col-md-offset-1 col-md-5 project-content__block">
                <div class="project-content-block">
                    <div class="project-content-block__logo project-content-block-logo">
                        <div class="project-content-block-logo__white">
                            <img alt="" class="project-content-block-logo__img" src="{{ site.baseurl }}{{ project.website.logo }}" onError="this.onerror=null;this.src='/assets/img/logos/project-empty.png';">
                        </div>
                    </div>
                    <div class="project-content-block-header">
                        <div class="project-content-block-header__text">{{ project.key }}</div>
                    </div>
                    <div class="project-content-block-text">
                        <div class="project-content-block-text__inner">
                            {{ project.short_description }}
                        </div>
                    </div>
                    <div class="project-content-block-btn">
                        <a href="{{site.baseurl }}/projects/{{project.website.website}}" class="project-content-block-btn__more">
                            More
                        </a>
                    </div>
                </div>
            </div>
        </loop>
        {% endfor %}
        {% if flag %}
            No projects
        {% endif %}

    </div>

</div>
