.possibilities-main
	position: relative;
	background: #041b4d;
	background: linear-gradient(135deg, #041b4d 0%, #041b4d 37%, #0082c4 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__inner
		width: 1000px;
		margin: 0 auto;

	&__title
		font-size: 24px;
		line-height: 36px;
		color: white
		text-transform: uppercase;
		font-weight: 700;
		float: left;
		width: 300px;
		display: inline-block;
		margin: 130px 0 0 0;

	&__list
		float: right;
		width: 670px;
		display: inline-block;

