include ../possibilities-list/possibilities-list

mixin possibilities-main(data)
	#possibilities-main.possibilities-main.page__row

		.possibilities-main__inner

			.possibilities-main__title LEARN OUR CRAZY POSSIBILITIES

			.possibilities-main__list
				+possibilities-list(possibilitiesList.default)

			.clear

