.sidebar-menu
	//

	ul-reset()

	&__title
		margin 0
		padding 10px 20px
		font-size 18px
		border-bottom 1px solid #dadada

	&__item
		font-size 16px
		padding 0 0 0 0
		list-style none
		color: #fff;

	&__link
		color: #fff;

		&
		&:visited
			color: #fff;
			display block
			padding 8px 25px 0
			text-decoration none
		&:hover
			color: #fff;
			text-decoration underline

	&__submenu
		padding 0 20px 0 27px
		.sidebar-menu__item
			font-size 14px

		.sidebar-menu__link

			&
			&:visited
				padding 3px 25px
