<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Libs-->
<link href="{{ site.baseurl }}/css/libs/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/libs/font-awesome.min.css" rel="stylesheet">

<!--Current CSS-->
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">

{% if page.css %}{{ page.css | prepend: site.baseurl }}{% endif %}
