<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-2"><h1>Thanks</h1>
        <ul>
          <li>JetBrains</li>
          <li>Atlassian</li>
        </ul>
      </div>
      <div class="col-md-2"><h1>Contact us</h1>
        <ul>
          <li>email@email.com</li>
        </ul>
      </div>
      <div class="col-md-2"><h1>Legal</h1>
        <ul>
          <li>Privacy Policy</li>
          <li>License</li>
        </ul>
      </div>
      <div class="col-md-3"><h1>Last releases</h1>
        <ul>
          <li>23/09/2015 Release 2.1 Subutai Social...</li>
          <li>15/09/2015 Release 2.0 Subutai Social...</li>
        </ul>
      </div>
    </div>
    <div class="row newsletter">
      <div class="col-md-offset-2 col-md-4">
        <div class="row">
          <div class="col-md-4"><h1>Newsletter</h1></div>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="E-mail">
              <span class="input-group-addon">Go!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 newsletter-text">
        Keep up on our always evolving projects and technology.<br>
        Enter your e-mail and subscribe to our newsletter.
      </div>
    </div>
    <div class="row text-center">
      <div><img src="{{ site.baseurl }}/assets/elements/footer-logo-white.svg" height="28px" alt=""/></div>
      <span class="footer-copyright">© Copyright 2015. All Rights Reserved.</span>
    </div>
  </div>
</footer>