<footer id="footer">
  <div class="container mainFooterContent">
    <div class="row">
      <div class="footer-ribbon">
        <span>Get in Touch</span>
      </div>

      <div class="col-md-8">
        <div class="newsletter">
          <h4>Newsletter</h4>

          <p>Keep up on our always evolving projects and technology. <br/>Enter your e-mail and subscribe to our
            newsletter.</p>

          <div class="alert alert-success hidden" id="newsletterSuccess">
            <strong>Success!</strong> You've been added to our email list.
          </div>

          <div class="alert alert-danger hidden" id="newsletterError"></div>

          <form id="newsletterForm" action="#" method="POST">
            <div class="input-group">
              <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail"
                     type="text">
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit">Go!</button>
										</span>
            </div>
          </form>
        </div>
      </div>
      <div class="footer-copyright col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <a href="{{ site.baseurl }}/" class="logo">
                <img alt="Porto Website Template" class="img-responsive" src="{{ site.baseurl }}/img/logo-footer.png">
              </a>
            </div>
            <div class="col-md-7">
              <p>© Copyright 2015. All Rights Reserved.</p>
            </div>
            <div class="col-md-4">
              <nav id="sub-menu">
                <ul>
                  <!--<li><a title="FAQ's" href="{{ site.baseurl }}/page-faq/">FAQ's</a></li>-->
                  <!--<li><a title="Sitemap" href="{{ site.baseurl }}/sitemap/">Sitemap</a></li>-->
                  <!--<li><a title="Contact" href="{{ site.baseurl }}/contact-us/">Contact</a></li>-->

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-4">-->
        <!-- empty space -->
      <!--</div>-->
      <!--<div class="col-md-5">-->
        <!--<h4>Legal</h4>-->

        <!--<div>-->
          <!--<ul class="legal-info">-->
              <!--<li><a title="Terms of Service" href="{{ site.baseurl }}/legal/#tos">Terms of Service</a></li>-->
              <!--<li><a title="Privacy Policy" href="{{ site.baseurl }}/legal/#pp">Privacy Policy</a></li>-->
              <!--<li><a title="Trade Mark Guidelines" href="{{ site.baseurl }}/legal/#tmg">Trade Mark Guidelines</a></li>-->
              <!--<li><a title="Marks and Logos" href="{{ site.baseurl }}/legal/#ml">Marks and Logos</a></li>-->
              <!--<li><a title="Components & Licenses" href="{{ site.baseurl }}/legal/#cl">Components & Licenses</a></li>-->

          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="contact-details">-->
          <!--<h4>Contact Us</h4>-->
          <!--<ul class="contact">-->
            <!--<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States-->
            <!--</p></li>-->
            <!--<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-7890</p></li>-->
            <!--<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a>-->
            <!--</p></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<h4>Follow Us</h4>-->

        <!--<div class="social-icons">-->
          <!--<ul class="social-icons">-->
            <!--<li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip-->
                                    <!--title="Facebook">Facebook</a></li>-->
            <!--<li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip-->
                                   <!--title="Twitter">Twitter</a></li>-->
            <!--<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip-->
                                    <!--title="Linkedin">Linkedin</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>

</footer>
