<header id="header">
    <div class="container">
        <div class="col-md-3">
            <div class="logo">
                <a href="{{ site.baseurl }}/">
                    <img alt="SSF" src="{{ site.baseurl }}/img/logo.png">
                </a>
            </div>

            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="col-md-9">
            <div class="navbar-collapse nav-main-collapse collapse">

                <nav class="nav-main mega-menu">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li>
                            <a title="Home" class="dropdown-toggle" href="{{ site.baseurl }}/">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li>
                            <a title="Projects" class="dropdown-toggle" href="{{ site.baseurl }}/projects/">
                                Projects
                            </a>
                        </li>
                        <!--<li>-->
                            <!--<a title="Projects" class="dropdown-toggle" href="{{ site.baseurl }}/members/">-->
                                <!--Members-->
                            <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a title="Thanks" class="dropdown-toggle" href="{{ site.baseurl }}/thanks/">
                                Thanks
                            </a>
                        </li>
                        <li>
                            <div class="search">
                                <input type="text" id="tipue_drop_input" placeholder="Search..." autocomplete="off">
                                <ul id="tipue_drop_content"></ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
