
mixin download(data)

	.button.button_circle.download(title=data.title)
		i(class=data.icon)
		//-span.text= data.title
		.download-menu
			ul
				each ent, num in data.links
					li.download-menu__item
						a(href=ent.href, onclick=ent.action, class=ent.class)= ent.title

