html
{
    font-family: sans-serif;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
progress,
video
{
    display: inline-block;

    vertical-align: baseline;
}

audio:not([controls])
{
    display: none;

    height: 0;
}

[hidden],
template
{
    display: none;
}

a
{
    background-color: transparent;
}

a:active,
a:hover
{
    outline: 0;
}

abbr[title]
{
    border-bottom: 1px dotted;
}

b,
strong
{
    font-weight: bold;
}

dfn
{
    font-style: italic;
}

h1
{
    font-size: 2em;

    margin: .67em 0;
}

mark
{
    color: #000;
    background: #ff0;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

img
{
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 1em 40px;
}

hr
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}

pre
{
    overflow: auto;
}

code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}

button
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

input
{
    line-height: normal;
}

input[type='checkbox'],
input[type='radio']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

input[type='search']
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}

legend
{
    padding: 0;

    border: 0;
}

textarea
{
    overflow: auto;
}

optgroup
{
    font-weight: bold;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

html
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    line-height: 1.4;

    color: #222;
}

body
{
    font-size: .9em;
    line-height: 1.6em;

    height: 100%;

    background: #fff;
}

::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}

textarea
{
    resize: vertical;
}

.clear
{
    clear: both;
}

.text-muted,
.text-muted > *
{
    color: #ccc;
}

.content-wrapper img[align='left'],
.content-wrapper img[style*='float: left'],
.content-wrapper img[style*='float:left']
{
    margin: 5px 15px 0 0;
}

.content-wrapper img[align='right'],
.content-wrapper img[style*='float: right'],
.content-wrapper img[style*='float:right']
{
    margin: 5px 0 0 15px;
}

.align-image-center
{
    text-align: center;
}

.align-image-left
{
    float: left;

    margin: 5px 15px 0 0;
}

.align-image-right
{
    float: right;

    margin: 5px 0 0 15px;
}

.image-captioned
{
    margin-bottom: 20px;
}

.image-captioned figcaption
{
    font-size: 1em;
    font-style: oblique;

    color: #454545;
}

.fluid-image
{
    display: block;

    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Ubuntu Medium', 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: normal;

    margin: 1.2em 0 1.2em;

    color: #303644;
}

h1
{
    font-size: 23px;
}

h2
{
    font-size: 20.7px;
}

h3
{
    font-size: 19.55px;
}

h4
{
    font-size: 18.4px;
}

h5
{
    font-size: 17.25px;
}

h6
{
    font-size: 16.1px;
}

a
{
    -webkit-transition: color .2s ease 0s;
         -o-transition: color .2s ease 0s;
            transition: color .2s ease 0s;
    text-decoration: underline;

    color: #303644;
}

a:visited
{
    color: #40485b;
}

a:hover
{
    text-decoration: none;

    color: #616d89;
}

p
{
    margin: 20px 0;
}

i,
em
{
    font-style: italic;
}

b,
strong
{
    font-weight: bold;
}

ol,
ul
{
    padding-left: 2em;

    list-style-position: inside;
}

dt,
dd
{
    line-height: 22px;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 0;
}

pre,
code
{
    font-family: 'Consolas', 'Courier New', 'Nimbus Mono L', monospace;
    font-size: 16px;
    line-height: 1.6;

    overflow: hidden;

    white-space: -moz-pre-wrap;
    white-space:   -o-pre-wrap;
    white-space: -pre-wrap;
    white-space:      pre-wrap;
    word-wrap: break-word;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
}

pre
{
    padding: 1em;

    border-radius: 3px;
    background: #eee;
}

q
{
    font-style: italic;

    quotes: '«' '»';
}

q q
{
    font-style: italic;

    quotes: '„' '“';
}

blockquote
{
    margin: 0 0 22px 30px;
    padding: 11px 11px 11px 37px;

    border-left: 1px solid #666;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child
{
    margin-bottom: 0;
}

blockquote p:first-child,
blockquote ul:first-child,
blockquote ol:first-child
{
    margin-top: 0;
}

blockquote footer,
blockquote small
{
    font-size: 80%;
    line-height: 22px;

    display: block;
}

blockquote footer:before,
blockquote small:before
{
    content: '\2014 \00A0';
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

section li
{
    font-size: 16px;
    line-height: 34px;
}

table
{
    width: 100%;
}

.table
{
    font-size: 14px;

    margin: 22px 0;

    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;

    border: 1px solid #e6e6e6;
}

.table caption
{
    font-size: 85%;
    font-style: italic;
    line-height: 1;

    padding: 1em 0;

    text-align: center;

    color: #303644;
}

.table td,
.table th
{
    font-size: inherit;
    font-weight: normal;

    overflow: visible;

    margin: 0;
    padding: .5em 1em;

    border-width: 0 0 0 1px;
    border-left: 1px solid #e6e6e6;
}

.table td:first-child,
.table th:first-child
{
    border-left-width: 0;
}

.table thead,
.table tfoot
{
    text-align: left;
    vertical-align: bottom;

    color: #303644;
    background-color: #e6edf8;
}

.table thead td,
.table tfoot td,
.table thead th,
.table tfoot th
{
    border-color: #fff;
}

.table td
{
    background-color: transparent;
}

.table_striped tr:nth-child(2n-1) td
{
    background-color: #f7f7f7;
}

.table_bordered td
{
    border-bottom: 1px solid #e6e6e6;
}

.table_bordered tbody > tr:last-child > td,
.table_bordered thead > tr:last-child > td
{
    border-bottom-width: 0;
}

.table_horizontal td,
.table_horizontal th
{
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #e6e6e6;
}

.table_horizontal tbody > tr:last-child > td,
.table_horizontal thead > tr:last-child > td
{
    border-bottom-width: 0;
}

.table_responsive thead,
.table_responsive tfoot
{
    display: none;
}

.table_responsive caption
{
    display: block;
}

.table_responsive tbody td
{
    display: block;

    vertical-align: top;

    border: none;
}

.table_responsive tbody td:before
{
    font-weight: bold;

    display: inline-block;

    width: 6.5em;

    content: attr(data-th) ': ';
}

.table_responsive tbody td.table__hide
{
    display: none;
}

.table_responsive tbody td .table__content
{
    vertical-align: top;
}

.table_responsive tbody td:first-child
{
    padding-top: 1.5em;
}

.table_responsive tbody td:last-child
{
    padding-bottom: 1.5em;
}

.table_responsive .table__wrapper_active
{
    overflow: auto;

    max-height: 310px;

    -webkit-overflow-scrolling: touch;
}

@font-face
{
    font-family: 'Noto Sans';src: url('../fonts/noto/sans/regular.eot');src: url('../fonts/noto/sans/regular.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/sans/regular.woff2') format('woff2'), url('../fonts/noto/sans/regular.woff') format('woff'), url('../fonts/noto/sans/regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Noto Sans';font-style: italic;src: url('../fonts/noto/sans/italic.eot');src: url('../fonts/noto/sans/italic.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/sans/italic.woff2') format('woff2'), url('../fonts/noto/sans/italic.woff') format('woff'), url('../fonts/noto/sans/italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Noto Sans';font-weight: bold;src: url('../fonts/noto/sans/bold.eot');src: url('../fonts/noto/sans/bold.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/sans/bold.woff2') format('woff2'), url('../fonts/noto/sans/bold.woff') format('woff'), url('../fonts/noto/sans/bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Noto Sans';font-weight: bold;font-style: italic;src: url('../fonts/noto/sans/bolditalic.eot');src: url('../fonts/noto/sans/bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/sans/bolditalic.woff2') format('woff2'), url('../fonts/noto/sans/bolditalic.woff') format('woff'), url('../fonts/noto/sans/bolditalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Noto Serif';src: url('../fonts/noto/serif/regular.eot');src: url('../fonts/noto/serif/regular.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/serif/regular.woff2') format('woff2'), url('../fonts/noto/serif/regular.woff') format('woff'), url('../fonts/noto/serif/regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Noto Serif';font-style: italic;src: url('../fonts/noto/serif/italic.eot');src: url('../fonts/noto/serif/italic.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/serif/italic.woff2') format('woff2'), url('../fonts/noto/serif/italic.woff') format('woff'), url('../fonts/noto/serif/italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Noto Serif';font-weight: bold;src: url('../fonts/noto/serif/bold.eot');src: url('../fonts/noto/serif/bold.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/serif/bold.woff2') format('woff2'), url('../fonts/noto/serif/bold.woff') format('woff'), url('../fonts/noto/serif/bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Noto Serif';font-weight: bold;font-style: italic;src: url('../fonts/noto/serif/bolditalic.eot');src: url('../fonts/noto/serif/bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/noto/serif/bolditalic.woff2') format('woff2'), url('../fonts/noto/serif/bolditalic.woff') format('woff'), url('../fonts/noto/serif/bolditalic.ttf') format('truetype');
}

@media only screen and (max-width: 375px)
{
    .image-captioned
    {
        display: block;
        float: none;

        width: 100%;
        height: auto;
        margin-right: 0;
        margin-left: 0;
    }

    .align-image-left,
    .align-image-right,
    .align-image-center img
    {
        display: block;
        float: none;

        width: 100%;
        height: auto;
        margin: 0;
    }
}

@media print
{
    *,
    *:before,
    *:after
    {
        color: #000 !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }

    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}
