
mixin ss-main-info(data)
	#ss-info.ss-main-info.page__row
		.ss-main-info__text
			.ss-main-info-text
				h1.ss-main-info-text__title Subutai Social is a striving new p2p cloud and fog “IoT” computing platform.
				p.ss-main-info-text__text With help of Subutai Social individuals all over the globe come together to create secure virtual environments and share physical machine resources across peers.
				p.ss-main-info-text__button
					a(href="#").button.button_gray-text Read more

