
mixin ss-main-info(data)
	#ss-info.ss-main-info.page__row
		.ss-main-info__text
			.ss-main-info-text
				h1.ss-main-info-text__title Subutai Social is a new p2p cloud and fog “IoT” computing platform.
				p.ss-main-info-text__text With the help of the Subutai Social individuals from all over the globe come together to create secure virtual environments and share physical machine resources across peers.
				p.ss-main-info-text__button
					a(href="about.html").button Read more

