
mixin ss-main-info(data)
	#ss-info.ss-main-info.page__row
		.ss-main-info__text
			.ss-main-info-text
				h1.ss-main-info-text__title A new way to think about clouds and devices attached to them.
				p.ss-main-info-text__text Subutai Social helps connect individuals from all over the globe so they may share resources to create secure cloud environments across their peers. Just as a cloud can float down onto land and is thus called fog, IoT devices attach when available and needed to your cloud as it floats around with you.
				p.ss-main-info-text__button
					a(href="about.html").button Read more

