.thanks
	h1
		text-align center
	&__bg-gray
		background-color #fbfcfd
		padding 25px
		width 100%
		text-align center
		margin 0 0 50px 0
		&_none
			background none

	&__raw
		max-width 450px
		margin 0 auto 20px
	&__logo
		width 49%
		display inline-flex

.icon_logo-attlassians
	width 227px
.icon_logo-stash
	width 126px
	height 33px
.icon_logo-confluence
	width 228px
	height 33px
.icon_logo-hipchat
	padding 0 0 0 76px
	width 144px
	height 33px
.icon_logo-jira
	padding 0 0 0 76px
	width 85px
	height 33px
.icon_logo-jetbrains
	width 249px
.icon_logo-intellejidea
	width 199px
	height 43px
.icon_logo-upsource
	width 178px
	height 43px
	padding 0 0 0 40px
.icon_logo-gramatik
	padding 0 0 0 80px