// .banner {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-end;
// }

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100%;
    // margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 41px -8px rgba(0,0,0,0.7);
}
.home {
    .banner {
        background-image: url("./../images/SubutaiHeroImageV7.jpg");
        margin-bottom: 0;
    }
}
.router {
    .banner {
        background-image: url("./../images/router-bg.jpg");
    }
}
.peer {
    .banner {
        background-image: url("./../images/peeros-banner-bg.jpg");
    }
}
.bazaar {
    .banner {
        background-image: url("./../images/bazaar-banner-bg.jpg");
    }
}
.khan {
    .banner {
        background-image: url("./../images/khan-banner-bg.jpg");
    }
}
.team {
    .banner {
        background-image: url("./../images/SubutaiHeroImageV7.jpg");
        margin-bottom: 40px;
    }
}
.blueprints {
    .banner {
        background-image: url("./../images/SubutaiHeroImageV7.jpg");
        margin-bottom: 40px;
    }
}
// title banner
.get-start, .leadership, .p2p {
    .banner {
        background-color: #04346E;
        background-image: linear-gradient(to bottom right, #04346E, #0758BA);
        height: 250px;
        margin-bottom: 40px;
        h1 {
            margin-top: 0;
            margin-bottom: 40px;
        }
    }
}
@media (min-width: 480px) {

}

@media (min-width: 768px) {
	.get-start, .leadership, .p2p {
        .banner {
            background-color: #04346E;
            background-image: linear-gradient(to bottom right, #04346E, #0758BA);
            height: 300px;
            // margin-bottom: 0;
        }
    }
}

@media (min-width: 992px) {
    .banner {
        margin-bottom: 80px;
    }
    .get-start, .leadership, .p2p {
        .banner {
            margin-bottom: 80px;
        }
    }
    .blueprints {
        .banner {
            margin-bottom: 80px;
        }
    }
    .team {
        .banner {
            margin-bottom: 80px;
        }
    }
}

@media (min-width: 1200px) {
    
}
