.leadersWrap {
    padding: 40px 20px;
    // margin-bottom: 40px;
    background: #FAFAFA;
    box-shadow: 0 0 40px rgba(0,0,0,.15);
    box-sizing: border-box;
}

.card {
    min-height: 270px;
    text-align: left;
    margin-top: 40px;
    &:first-child {
        margin-top: 0;
    }
    figure {
        padding: 0 30px 5px 0;
        // width: 250px;
        width: 100%;
        float: left;
        img {
            width: 100%;
            padding: 0 20px 10px 0;
            // box-sizing: border-box;
        }
    }
    h2 {
        margin: 0 0 5px 0;
        font-size: 1.85rem;
    }
    small {
        font-weight: 500;
        color: #04346E;
        font-size: .85rem;
    }
    p {
        // font-size: 1rem;
        line-height: 1.25;
        margin-top: 1rem;
    }
}

@media (min-width: 480px) {
    .card {
        figure {
            width: 220px;
        }
    }
}
@media (min-width: 600px) {
    .card {
        figure {
            width: 250px;
        }
    }
}
@media (min-width: 768px) {
	.leadersWrap {
        padding: 40px;
    }
    .card {
        figure {
            width: 250px;
        }
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
	
}
