

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    // margin-bottom: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.smallContainer {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.halfCol {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px 0;
}
.darkBg {
    width: 100%;
    background: #020E1A;
    color: #FFF;
    padding: 40px 0 80px 0;
    margin-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .smallContainer {
        align-items: center;
    }
}
.prodWrap {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.home {
    .prodWrap {
        &:last-child {
            margin-bottom: 0;
        }
        .prodInfo-wrap {
            // width: 85%;
            box-sizing: border-box;
            // padding-left: 80px;
            .btnWrap {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}
.prodInfo-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

// footer
.footerRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.destakLinks-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        margin: 0 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}
// topic box with row: img + text - Blueprints page
.blueprints {
    .topicWrap, .fullImg {
        margin-bottom: 20px;
    }
}
.topicWrap {
    .itemRow {
        height: auto;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        p {
            width: 100%;
            margin-top: 10px;
        }
    }
}
.router {
    .topicWrap {
        // margin: 40px 20px 0 20px;
        margin-bottom: 40px;
    }
}
#leadersWrap.container {
    justify-content: space-between;
}
#downloadsSection {
    flex-direction: column;
}

@media (min-width: 480px) {
    .topicWrap {
        .itemRow {
            height: 120px;
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            p {
                width: calc(100% - 160px);
            }
        }
    }
}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
    .container {
        // padding-top: 60px;
        margin-bottom: 40px;
        p {
            margin-top: 40px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .smallContainer {
        width: 800px;
        padding: 0;
    }
    .darkBg {
        margin-bottom: 80px;
    }
	.home {
        .prodWrap {
            margin-bottom: 80px;
            flex-direction: row;
            .prodInfo-wrap {
                padding-left: 80px;
                width: 85%;
                .btnWrap {
                    .btn {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .halfCol {
        width: calc(50% - 20px);
        margin-bottom: 40px;
        padding: 0;
    }
    .router .container {
        justify-content: space-between;
    }
    .router {
        .topicWrap {
            margin: 0 0 40px 0;
        }
    }
    .destakLinks-wrap {
        justify-content: space-around;
        a {
            margin: 0;
        }
    }
}

@media (min-width: 1200px) {
	
}
