
body a {
    font-family: myriad-pro, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: #078DD0;
    &:hover {
        text-decoration: none;
        color: #59B7FF;
    }
    &:active {
        color: #04346E;
    }
}
.btn {
    background-color: #078DD0;
    color: #FFF;
    font-size: .85rem;
    padding: 7px 15px;
    border-radius: .4rem;
    &:hover {
        background-color: #59B7FF;
        color: #FFF;
    }
    &:active {
        background-color: #0F54B9;
        color: #FFF;
    }
}
// khan page
.downloadButtons {
	width: 100%;
	margin-bottom: 40px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	// -webkit-justify-content: space-between;
	// justify-content: space-between;
	a {
		box-sizing: border-box;
		width: 100%;
		margin: 5px 0;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
	}
}


@media (min-width: 480px) {
    .downloadButtons {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
		// margin-bottom: 40px;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		a {
			width: 47.5%;
		}
	}
	.socialButtonWrap {
		width: 450px;
	}
}

@media (min-width: 768px) {
	.downloadButtons {
		width: 630px;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		a {
			width: 200px;
			margin: 5px;
		}
	}
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}
