

.home {
    .prodWrap {
        .prodImg-wrap {
            width: 100%;
            text-align: center;
            img {
                width: 50%;
            }
        }
    }
}

.fullImg {
    width: 100%;
    box-shadow: 0 0 40px rgba(0,0,0,.15);
    img {
        width: 100%;
    }
}

.router {
    .container {
        .fullImg {
            margin: 0 0 40px 0;
        }
    }
}

figure.halfCol {
    display: block;
    // margin-top: 25px;
}
@media (min-width: 480px) {

}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
    .home {
        .prodWrap {
            .prodImg-wrap {
                width: 15%;
                text-align: left;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
	
}
