@import 'footer';
@import 'header';
@import 'grid';
@import 'typography';
@import 'media';
@import 'links-buttons';
@import 'banner';
@import 'forms-tables';
@import 'card';

body, html, {
    margin: 0;
    padding: 0;
    border: 0;
}
body, html {
    height: 100%;
}
body {
    background: #f6f3f2;
}

.hideMobile {
    display: none;
}
.hideDesktop {
    display: block;
}
.no-padding {
    padding: 0;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
    .hideMobile {
        display: block;
    }
    .hideDesktop {
        display: none;
    }
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}