include ../footer/footer


mixin getting-started-main(data)
	.getting-started-main
		.getting-started-main__info
			.getting-started-main-info
				h1.getting-started-main-info__title GETTING STARTED
				p.getting-started-main-info__text Subutai is Open Source Software product you can install on every major platform. Having problems? Reach out to us, our community is always ready to help.
				p.getting-started-main-info__button
					a(href="getting-started.html").button Install
				p.getting-started-main-info__button
					<!-- Place this tag where you want the button to render. -->
					a.github-button(href="https://github.com/subutai-io/base/fork", data-icon="octicon-repo-forked", data-style="mega", data-count-href="/subutai-io/base/network", data-count-api="/repos/subutai-io/base#forks_count", data-count-aria-label="# forks on GitHub", aria-label="Fork subutai-io/base on GitHub") Fork
					<!-- Place this tag where you want the button to render. -->

		+footer()

