include ../footer/footer


mixin getting-started-main(data)
	.getting-started-main
		.getting-started-main__info
			.getting-started-main-info
				h1.getting-started-main-info__title GETTING STARTED
				p.getting-started-main-info__text Subutai Social  is Open Source product, you can install on every major platform. Even if you stuck, our smart and fast support team can help
				p.getting-started-main-info__button
					a(href="getting-started.html").button Install

		+footer()

