
mixin getting-started-inner(data)
	.getting-started-main.getting-started-main_inner
		.getting-started-main__info
			.getting-started-main-info
				p.getting-started-main-info__text If you feel excited enough to get involved with any of these Social Cloud Computing areas please let us know!
				p.getting-started-main-info__button
					a(href="getting-started.html").button Getting started

