mixin accordion(data)
	.accordion&attributes(attributes)
		ul
			block

mixin accordion-item(data)
	- var classes = ['accordion__item']
	- var itemId = ''
	if data.open
		- classes.push(classes[0] + '_active')
	if data.id
		- itemId = data.id

	li(class=classes, id=itemId).accordion__item&attributes(attributes)
		.accordion__header= data.title
		.accordion__content
			block
