.footer
	background #fff

	&__inner
		padding 18px 0 18px 0
		width 960px
		margin 0 auto
		position: relative;

	&__menu
		float: left;

	&__social
		float: right;

	&__arrow
		position: absolute;
		top: 50%
		left: 50%
		margin: -16px 0 0 -16px;

	&__copyright
		//

.to-top-arrow
	width: 32px;
	height: 32px;
	cursor: pointer;
	display: inline-block;
	background-image: url(../img/to-top-arrow.png);
	background-position: 0 0;
	background-repeat: no-repeat;

