include ../crazy-possibility/crazy-possibility


mixin crazy-possibilities(data)
	.crazy-possibilties

		h1.crazy-possibilties__title Social Cloud Computing

		.crazy-possibilties__list
			.crazy-possibilties-list
				each ent, num in data
					.crazy-possibilties-list__item
						+crazy-possibility(ent)

				.clear

