.crazy-possibilties
	position: relative;
	padding: 0 0 40px 0;
	margin: 0 0 0 0;

	&__title
		padding: 0 0 30px 0;
		//margin: 0 0 0 0;

	&__list
		padding: 0 0 0 0;

	&-list
		padding: 0 0 0 0;

		&__item
			padding: 0 0 50px 0;

			&_col
				display: inline-block;
				width: 48%;
				vertical-align: top;
				margin: 0 3% 0 0;

				&:nth-child(odd)
					margin-right: 0;

