/* Forms style - Subutai website (https://github.com/subutai-io/website)
   07/11/2018 
*/

.formContainer {
    margin-bottom: 40px;
    padding: 0 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;

    .formWrap {
        width: 100%;
        // padding: 0 15px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;

        // #mc_embed_signup_scroll {
        //     box-sizing: border-box;
        //     padding: 0 10px;
        // }

        .signupWrap {
            width: 100%;
            margin-top: 20px;
            // margin: 0 10px;
        }
    }
}

// blueprints page table
#blueprintsTable {
    display: none;
    .tableRow {    
        .curveArrow {
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 0 10px;
            img {
                display: block;
                height: 55%;
            }
        }
        h5 {
            color: #FFF;
            background: #04346E;
        }
    }
}

@media (min-width: 480px) {
	
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
	.formContainer {
        .formWrap {
            width: 100%;
            #mc_embed_signup_scroll {
                width: 410px;
                margin-right: 20px;
            }
            .signupWrap {
                margin-top: 0;
                width: 210px;
            }
        }
    }
    #blueprintsTable {
        margin: 40px auto;
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        height: 270px;
        .tableRow {
            width: 100%;
            height: 90px;
            display: flex;
            flex-wrap: wrap;
            .curveArrow {
                width: 90px;
                padding-bottom: 10px;
                box-sizing: border-box;
            }
            h5 {
                width: 120px;
                font-size: 2.25rem;
                margin: 0;
                height: 100%;
                color: #FFF;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            p {
                width: calc(100% - 210px);
                font-size: 2rem;
                margin: 0;
                border: 1px solid #04346E;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 0 20px;
            }
        }
        .tableRow:first-child {
            .curveArrow {
                width: 240px;
            }
            p {
                width: calc(100% - 360px);
            }
        }
        .tableRow:nth-child(2) {
            .curveArrow {
                width: 120px;
            }
            p {
                width: calc(100% - 240px);
                border-top: transparent;
            }
        }
        .tableRow:last-child {
            p {
                width: calc(100% - 120px);
                border-top: transparent;
            }
        }
    }
}

@media (min-width: 1200px) {
}