/* Topbar styles - Subutai website (https://github.com/subutai-io/website)
   05/28/2018 
*/



.title-level3 {
	font-size: 1.8rem;
}
.quickLinks {
	padding-top: 40px;
}

/* P2P cloud platform */
.cloudPlatform-content .panel-primary p,
.cloudPlatform-content p {
	line-height: 30px;
	padding: 10px;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
	header {
		.navbar {
			border-radius: 0;
		}
	}
}

@media (min-width: 992px) {
	.navbar {
		position: fixed;
	}
}

@media (min-width: 1200px) {
}