/* Titles styles - Subutai website (https://github.com/subutai-io/website)
   05/28/2018 
*/



/* title */
.titleSectionWrap {
	width: 100%;
	height: 100px;
	padding: 0 15px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	align-items: center;
}
#khanSection .titleSectionWrap, #communitySection .titleSectionWrap {
	padding-top: 40px;
	height: auto;
	width: 100%;
	-webkit-justify-content: center;
	justify-content: center;
}
#khanSection .titleSectionWrap h2, #communitySection .titleSectionWrap h2 {
	width: 100%;
}
#communitySection .titleSectionWrap, #communitySection .titleSectionWrap h3 {
	color: #FFF;
}
#communitySection .titleSectionWrap h2 {
	font-weight: 500;
	text-align: center;
}
.cloudPlatform-content h2 {
	text-align: center;
	color: #078DD0;
	font-size: 3.55rem;
}
.titleSectionWrap h2 {
	/*text-align: center;*/
	font-size: 2.8rem;
	font-weight: 700;
	margin: 0;
}
.iconTitleWrapper {
	width: 60px;
	padding-left: 15px;
	padding-top: 80px;
}
.iconTitleSection {
	width: 100%;
	height: auto;
}
/* P2P Cloud Platform */
.panel-primary .panel-heading {
	height: 70px;
	background: #078DD0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.panel-heading h2 {
	color: #FFF;
	font-size: 23px;
	font-weight: 700;
}
/* goodwill / router */
.block-text2 h2, .router h2 {
	color: #078DD0;
	font-size: 3.55rem;
}
#companion {
	font-size: 3.55rem;
	color: #333;
}

section .cont-part3 h2, section .cont-part3 h3 {
	color: #04192B;
	text-align: center;
	/*font-size: 2rem;*/
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
	/* getting started page */
	.titleSectionWrap h2 {
		font-size: 3.55rem;
	}
	.iconTitleWrapper {
		padding-left: 0;
		/*width: 85px;*/
		width: 70px;
		box-sizing: border-box;
	}
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
}