.main-slide
	position: relative;

	&__background
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		+below($media-screen-sm)
			height 500px
		+below($media-screen-xs)
			height 100%
	&__clouds-bg
		background-image: url(../img/clouds.jpg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;

	&__gradient-bg
		background: #041b4d;
		background: linear-gradient(to bottom, #041b4d 0%,#041b4d 37%,#0082c4 100%);
		opacity: 0.9;

	&__content
		height: 100%;
		max-width: 960px;
		margin: 0 auto;
		position: relative;
		background-image: url(../img/main-slide-bg.png);
		background-position: 0 100%;
		background-repeat: no-repeat;
		+below($media-screen-sm)
			height 500px
		+below($media-screen-xs)
			background none
			height 100%
