.crazy-possibilty
	position: relative;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	vertical-align: middle;
	+below($media-screen-sm)
		text-align center

	&__img
		vertical-align: middle;
		display: inline-block;

	&-img
		width: 157px;
		height: 157px;
		border 1px dashed gray
		border-radius: 50%;
		text-align: center;

		&__inner
			border-radius: 50%;
			height: 114px;
			width: 114px;
			margin: 22px;
			background-color: #f5f7f8;

		& svg
			width: 100%;
			height: 100%;

	&__info
		padding: 0 0 0 73px;
		vertical-align: middle;
		display: inline-block;
		box-sizing: border-box;
		max-width: 730px;
		+below($media-screen-sm)
			padding 20px 0 0

	&__title
		padding: 0 0 10px 0;
		margin: 0 0 0 0;
		font-size: 16px;
		color: gray

	&__text
		font-size: 14px;
		color: gray
		line-height: 22px;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		+below($media-screen-sm)
			text-align left
