
mixin crazy-possibility(data)
	-var possibilityId = "";
	if data.id
		-possibilityId = data.id

	.crazy-possibilty(id=possibilityId, class="crazy-possibilty_" + data.display)

		.crazy-possibilty__img
			.crazy-possibilty-img
				.crazy-possibilty-img__inner
					+icon(data.icon)

		.crazy-possibilty__info
			h2.crazy-possibilty__title
				.crazy-possibilty__title__inner!= data.title
			p.crazy-possibilty__text!= data.text

		.clear

