.crazy-possibilty
	position: relative;
	margin: 0 0 0 0;
	vertical-align: middle;
	border-radius: 20px;
	+below($media-screen-sm)
		text-align center

	&_col
		//

	&_row
		padding: 25px;
		border: 1px dashed #a9afbb;

	&__img
		vertical-align: middle;
		display: inline-block;

	&-img
		width: 157px;
		height: 157px;
		border 1px dashed gray
		border-radius: 50%;
		text-align: center;
		display: inline-block;

		&__inner
			border-radius: 50%;
			height: 124px;
			width: 124px;
			margin: 16px;
			background-color: #f5f7f8;

		& svg
			width: 100%;
			height: 100%;

	&__info
		padding: 0 0 0 73px;
		vertical-align: middle;
		display: inline-block;
		box-sizing: border-box;
		max-width: 730px;
		+below($media-screen-sm)
			padding 20px 0 0

	&__title
		margin: 0 0 0 0;
		box-sizing border-box
		padding 5px 0
		font-size 16px
		font-weight 700
		color: gray
		line-height normal

	&_row &__title
		position absolute
		top -25px
		left 0
		width 100%
		height 50px
		text-align center
		display: flex;
		justify-content: center;
		align-items: center;

	&_row &__title__inner
		background $base-bg-color
		display: inline-block;
		background $base-bg-color
		padding: 0 20px;

	&__text
		font-size: 14px;
		color: gray
		line-height: 22px;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		+below($media-screen-sm)
			text-align left
