include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo


doctype html
html(class="no-js" lang="en")

    head
        +head()

    body.page.page_background-gray
        +browsehappy(browsehappy)

        .page__header
            +header-inner()

        .page-docs

            .page-docs__content
                //-+demo()
                +sidebar('getting-started.html')

                .content-wrapper

                    +page-title({"title": "Environment creation"})

                    section
                        h3.getting-started-main-info__h3 Overview
                        p.getting-started-main-info__text Environment Manager manages environments. This module allows to create, modify, destroy environments and set quotas for container hosts.
                        p.getting-started-main-info__text Environments can be constructed locally or in cross peer relation. For information regarding quota sizes, see Quota size definition.
                        h3.getting-started-main-info__h3 Environment Building Steps (Remote or Local machine/s)
                        ol
                            li
                                | Go to Environment manager module.
                                br
                                img(src="img/getting-started/env-creat-menu-env.png").getting-started-main-info__img
                            li
                                | Select the Environments.
                                br
                                img(src="img/getting-started/env-creat-menu-select-env.png").getting-started-main-info__img
                            li
                                | On RHS panel you can see templates, by clicking or drag and droping them to the middle space you choose templates to use
                                br
                                | For more advanced options switch mode to Advanced
                                br
                                | Now you have 2 tabs (templates and peers). In peers you can choose which RH(s) to use and in which RH template to put.
                                br
                                img(src="img/getting-started/env-creat-menu-mode.jpg").getting-started-main-info__img
                            li
                                | To change Quota of container host you need to press on image of template in
                                br
                                img(src="img/getting-started/env-creat-template.png").getting-started-main-info__img
                            li
                                | and you will get next menu where you can set your own settings
                                br
                                img(src="img/getting-started/env-creat-template-settings.png").getting-started-main-info__img
                                br
                                | To modify, grow environment click Edit button ICON in the list of the environments and you will get details of the environment.
            .page__footer
                +footer()

            .clear

        //- Scripts
        script(src='js/plugins.min.js')
        script(src='js/main.min.js')
