include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page.page_background-gray
		+browsehappy(browsehappy)
		
		.page__header
			+header-inner()

		.page-docs
			+sidebar()

			.page-docs__content
				//-+demo()

				.content-wrapper

					+page-title({"title": "Installation"})

					section
						p.getting-started-main-info__text Thanks to installers, we can install Subutai Social with several clicks.
						p.getting-started-main-info__text-install Install on your operation system
						p.getting-started-main-info__button
							a(href="https://cdn.subut.ai:8338/kurjun/raw-files/raw.149b1436e130f7aa6e005d8e2a3173c7/download").button.button_circle
								i.fa.fa-apple
								span.text Mac
							a(href="https://cdn.subut.ai:8338/kurjun/raw-files/raw.cc392c1091b297e30e05fba2a3d1f750/download").button.button_circle
								i.fa.fa-windows
								span.text Windows
						p.getting-started-main-info__text Network installers are available for MacOS and Windows x64.
						p.getting-started-main-info__text
							| After installation you will have all components required for effective work in Subutai Social:
						ol
							li Google Chrome Browser
							li VirtualBox Hypervisor
							li Subutai Social E2E Browser Plugin for Chrome
							li Subutai Social Resource host (RH) VM Image for Virtual Box
							li Subutai Social Management host (MH) Template Image
							li OS Specific Subutai Social P2P Executable
							li Subutai Social Tray Application
			.clear

		.page__footer
			+footer()
		
		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
