include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo
include ../modules/download/download
include ../modules/analytics/analytics


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page.page_background-gray
		+browsehappy(browsehappy)
		
		.page__header
			+header-inner()

		.page-docs

			.page-docs__content
				//-+demo()
				+sidebar('getting-started.html')

				.content-wrapper

					+page-title({"title": "Installation"})

					section
						section
							p.getting-started-main-info__text
								| Subutai Social can directly install onto bare metal, but for convenience we've packaged everything into a virtual machine. We did this so you don't have to change anything and it's effortless to install and remove. We made some easy to use installers to take the hassle out of setting up everything for Windows and Mac OS X users. *Nix users please see the
								a(href="https://github.com/subutai-io/subos/blob/master/Readme.md") Readme.md
							p.getting-started-main-info__text
								| Subutai Social is ready for beta-testing
							p.getting-started-main-info__text
								| We are pleased to announce that the public beta release of Subutai Social is now available. This beta release is made available to allow a broad user base to test and evaluate the next major version of Subutai Social. Here's a great opportunity to help us make the next release the best ever.
							p.getting-started-main-info__text-install Network installers:
							.getting-started-main-info__button
								+download({
									"icon": "fa-apple",
									"title": "Mac",
									"links": [{
										"href": "https://cdn.subut.ai:8338/kurjun/raw-files/raw.5cbbd016ed1443a965aebdd3697a7464/download",
										"title": "Net Installer",
										"action": "ga('send', 'event', 'downloads', 'subutai-network-installer.pkg', 'Mac');"
									}, {
										"href": "https://cdn.subut.ai:8338/kurjun/raw-files/raw.f1eb8297f62d411d5890879e3f57a0bd/download",
										"title": "Net Installer Dev",
										"action": "ga('send', 'event', 'downloads', 'subutai-network-installer-dev.pkg', 'Mac');"
									}, {
										"href": "https://cdn.subut.ai:8338/kurjun/raw-files/raw.e5bf4937e865ab74eb1654c6e737d4c1/download",
										"title": "Net Installer Master",
										"action": "ga('send', 'event', 'downloads', 'subutai-network-installer-master.pkg', 'Mac');"
									}]
								})
								.button.button_circle.download.in-progress
									i.fa.fa-windows
									span COMING SOON

								.clear
							p.getting-started-main-info__text
								| After installation you should be ready to share resources. The following components are installed onto your system if not already present:
							ol
								li Google Chrome Browser
								li VirtualBox Hypervisor
								li Subutai Social E2E Browser Plugin for Chrome
								li Subutai Social Resource host (RH) VM Image for Virtual Box
								li Subutai Social Management host (MH) Template Image
								li OS Specific Subutai Social P2P Executable
								li Subutai Social Tray Application
			.page__footer
				+footer()

			.clear
		
		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
		+analytics()
