include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo
include ../modules/analytics/analytics


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page.page_background-gray
		+browsehappy(browsehappy)

		.page__header
			+header-inner()

		.page-docs

			.page-docs__content
				//-+demo()
				+sidebar('getting-started.html')

				.content-wrapper

					+page-title({"title": "Plugin installation"})

					section
						h3.getting-started-main-info__h3 Overview
						p.getting-started-main-info__text Subutai has Bazaar in it. It's intended to facilitate an open ecosystem of commercial and non-commercial cloud applications and services. Really anything can be shared, bartered, sold or purchased in a bazaar and so our intentional choice for the name implies there's no limit to your interactions there. These applications, services and resources in the Bazaar are ready to be installed on, or used by your cloud across other people's peers you've decided to share resources with.
						h3.getting-started-main-info__h3 Plugin installation steps
						ol
							li
								| Go to the Bazaar module
								br
								| *if table with plugins available is empty, you need to register in the Subutai Hub and register your SS peer in it's Hub (Registration, Registering peer in Subutai Hub)
								br
								img(src="img/getting-started/plugin-ins-1.png").getting-started-main-info__img
							li
								| Select plugin you want to install and press Install
								br
								img(src="img/getting-started/plugin-ins-2.png").getting-started-main-info__img
							li
								| After you get
								img(src="img/getting-started/plugin-ins-3.png").getting-started-main-info__img
								| successful status on installation, you can view and use installed plugin in the Installed tab.
								br
								img(src="img/getting-started/plugin-ins-4.png").getting-started-main-info__img

			.page__footer
				+footer()

			.clear

		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
		+analytics()
