include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo
include ../modules/analytics/analytics


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page.page_background-gray
		+browsehappy(browsehappy)

		.page__header
			+header-inner()

		.page-docs

			.page-docs__content
				//-+demo()
				+sidebar('getting-started.html')

				.content-wrapper

					+page-title({"title": "Registering peer in Subutai Social Hub"})

					section
						h3.getting-started-main-info__h3 Overview
						p.getting-started-main-info__text Without registering peer in Subutai Social Hub, peer will not be stored in it's Hub, so peer will not have access to Bazaar.
						p.getting-started-main-info__text You will have local Subutai Social that can create environments, clusters and download public plugins.
						h3.getting-started-main-info__h3 Subutai Social peer registration in its Hub steps:
						ol
							li
								| Go to Subutai Social Management console (read:
								a(href="first-launch.html") First launch
								| )
							li Login as any user
							li
								| Press hub icon in header (left-top side of UI)
								br
								img(src="img/getting-started/reg-peer-ss-logo-off.png").getting-started-main-info__img
							li
								| Enter email and password that you have been used to register in SS Hub
								br
								| if you have not registered please follow Registration by clicking on Sign Up
								br
								img(src="img/getting-started/reg-peer-ss-popup.png").getting-started-main-info__img
						p.getting-started-main-info__text
							| You can see status in header if it is green
							img(src="img/getting-started/reg-peer-ss-logo-on.png").getting-started-main-info__img
							|  then the registration was successful.
						p.getting-started-main-info__text
							| Now by clicking Hub icon in Subutai Social, you can go to Hub, Send Heartbeat and Unregister peer in it's Hub.
							img(src="img/getting-started/reg-peer-ss-heartbeat.png").getting-started-main-info__img
						p Heartbeat is way of communication of Subutai Social and its Hub (It is ping to hub). When sending heartbeat, peer will send data that peer is alive. and available in Hub to communicate with other peers.
						p After registering your peer in Hub it is open and default pricing is "free". In order to change it you need to .......
			.page__footer
				+footer()

			.clear

		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
		+analytics()
