include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/getting-started-main/getting-started-inner
include ../modules/crazy-possibilities/crazy-possibilities


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page
		+browsehappy(browsehappy)
		
		.page__header
			+header-inner()

		.page__content
			h1 Standing on the Shoulders of Giants
			p We started creating Subutai Social to enable those lacking the resources they needed to pursue their innovative dreams. We want everyone to be able to make a living innovating, wherever they are, whoever they are. The ability to innovate and further knowledge is a terrible thing to waste. We want to contribute our part to make sure human potential is wasted as little as possible. Subutai Social we hope will help connect people, and provide them with resources when otherwise they would be limited.
			p Subutai Social would never have existed without the contributions of several people, most notably Dennis Ritchie. We lost our hero in the same week that Steve Jobs passed away. Although both great figures, we feel enough attention was not given to this legend of computing. Read more about <a href="http://www.wired.com/2011/10/thedennisritchieeffect/">"The Dennis Ritchie Effect"</a>.
			p We dedicate Subutai Social to his memory. Without you Dennis Ritchie, we certainly know Subutai Social would never have existed. Thank you!
			p.center-paragraf
				iframe(width="420" height="315" src="https://www.youtube.com/embed/3-gTXWhx1y8" frameborder="0" allowfullscreen)
			p In this tribute to Dennis Ritchie Eric Schmidt points to the amazing vision of the fast approaching tomorrow that's possible today thanks to Dennis Ritchie's contribution.
			p It expresses what we believe better than we could express ourselves. Thanks to Dennis Ritchie and many others we were able to create Subutai Social with the hope of contributing to this marvelous vision.
		+getting-started-inner()

		.page__footer
			+footer()
		
		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
