include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/getting-started-main/getting-started-inner
include ../modules/crazy-possibilities/crazy-possibilities


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page
		+browsehappy(browsehappy)
		
		.page__header
			+header-inner()

		.page__content
			h1 Standing on the Shoulder of Giants
			p We want to make it so everyone can make a living innovating, where ever they are, who ever they are. The ability to innovate and knowledge is a terrible thing to waste. We will make sure it is wasted as little as possible.
			p.center-paragraf
				iframe(width="420" height="315" src="https://www.youtube.com/embed/3-gTXWhx1y8" frameborder="0" allowfullscreen)
			p In this tribute to Dennis Ritchie Eric Schmidt points to the amazing vision of the fast approaching tomorrow that's possible today thanks to Dennis Ritchie's contribution.
			p It is an on point expression of what we believe. Therefore, we see it as our mission to become a contributing factor to this marvellous vision.

		+getting-started-inner()

		.page__footer
			+footer()
		
		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
