include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo
include ../modules/accordion/accordion
include ../modules/analytics/analytics


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page.page_background-gray
		+browsehappy(browsehappy)
		
		.page__header
			+header-inner()

		.page-docs

			.page-docs__content
				//-+demo()
				+sidebar()

				.content-wrapper

					+page-title({"title": "Tutorials"})

					section
						p
						+accordion()
							+accordion-item({"title": "1\) User management", "open": true, "id": "UserRegistration"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.4a35f13a548289533932d94a60fa8dce/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "2\) Change password", "id": "ChangePassword"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.ecd98ac42cf16a8a16c206c1ec116173/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "3\) Set User PGP Key", "id": "pgpPlugin"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.64dc787a802ea4e906faafc624f0e795/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "4\) Cross peer environment creation", "id": "CrossPeerEnviOnRemotePeer"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.cd2a80a05b85fdcde008f19958d1ab86/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "5\) Multi host envrionment creation", "id": "CrossPeerWithTwoHosts"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.cd5b997405f772113bfbcc1436f825d3/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "6\) Environment Console", "id": "pingContainers"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.957174206a99b1f1f91673cfef7dc59c/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "7\) Grow envrionment", "id": "GrowContainer"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.aaab1be841d7d0ad1160169c2376858c/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "8\) Container Manipulation", "id": "StopRemoveContainer"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.79ad1a41c1008bc00abd68b00a5df407/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "9\) Registration to HUB", "id": "PeerRegistration"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.7dcacac9734785266aac7932765b95ee/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "10\) Upload a template", "id": "PluginUpload"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.cb7fee136a5cccd36d80749a4a88bbac/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "11\) Appscale plugins installation", "id": "PluginAppScaleInstall"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.35d2857ef2911a98af0f70d36872ba1f/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "12\) Appscale running application", "id": "AppScaleUse"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.3e02abac4353dc6a4090e1f8c1a2566a/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "13\) Generic Plugin Demo", "id": "PluginGeneric"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.98b86ffe0c558b8fc533f11bf2428bf5/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "14\) Set Environment Domain", "id": "SetDomainToContainer"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.2e6986ddcfe6c3263e898950b93f78dc/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "15\) Roles Management", "id": "RolesManagement"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.c90ee0d15d22480dee2cf16755db666f/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "16\) Share Environment", "id": "ShareEnvironment"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.5d21415c9f6b56a5436c48ea6cbc8e83/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "17\) Installation on Windows", "id": "installation-win"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.e71f7335b7f54cfd9f3c33d4407ea2cf/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "18\) Installation on Mac", "id": "installation-mac"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.a109b7890aedc1287aae7a56ad89cc9c/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "19\) Container Sizes", "id": "ChooseTheSizeOfContainers"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.324e1122e3080c96748fdccf389f97ec/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

			.page__footer
				+footer()

			.clear
		
		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
		+analytics()
