include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo
include ../modules/accordion/accordion


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page.page_background-gray
		+browsehappy(browsehappy)
		
		.page__header
			+header-inner()

		.page-docs

			.page-docs__content
				//-+demo()
				+sidebar()

				.content-wrapper

					+page-title({"title": "Tutorials"})

					section
						p
						+accordion()
							+accordion-item({"title": "1\) Cross peer environment creation", "open": true, "id": "CrossPeerEnviOnRemotePeer"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.cd87325ffd677c58ae4a426df358d9ec/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "2\) User management", "id": "UserRegistration"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.e2b06c484d7770123a53f933ac2f64c8/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "3\) Change password", "id": "ChangePassword"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.0ec98a8f47c52e982ffd1ff4d39ac0ff/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "4\) Multi host envrionment creation", "id": "CrossPeerWithTwoHosts"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.2fcbbbeecbd496a83da476cf1cdc74a5/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "5\) Registration to HUB", "id": "PeerRegistration"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.ca747180dc01756e2b2f2e16058491a6/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "6\) Upload a template", "id": "PluginUpload"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.7eab97c0c85285ebd107c47fc097a5d6/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "7\) Appscale plugins installation", "id": "PluginAppScaleInstall"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.e93976ebceb10b00bed0a9bc4c49a1f1/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "8\) Appscale running application", "id": "AppScaleUse"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.813d8fe2d56b15618120f53405584c51/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "9\) Container Manipulation", "id": "StopRemoveContainer"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.5de04da8dfad58a867d4e4fbc73d8a48/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "10\) Generic Plugin Demo", "id": "PluginGeneric"})
								video(width="100%", height="450", controls="controls", preload="none")
									source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.ffeb9adae679ffff14bdf08aa224bd8d/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')


							+accordion-item({"title": "11\) Environment Console", "id": "pingContainers"})
							video(width="100%", height="450", controls="controls", preload="none")
								source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.c1167049c61bfed382fab4ab6779f1ed/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

			.page__footer
				+footer()

			.clear
		
		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
