include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo
include ../modules/accordion/accordion


doctype html
html(class="no-js" lang="en")

	head
		+head()

	body.page.page_background-gray
		+browsehappy(browsehappy)
		
		.page__header
			+header-inner()

		.page-docs
			+sidebar()

			.page-docs__content
				//-+demo()

				.content-wrapper

					+page-title({"title": "Tutorials"})

					section
						p
						+accordion()
							+accordion-item({"title": "1\) Cross peer environment creation", "open": true, "id": "CrossPeerEnviOnRemotePeer"})
								video(width="100%", height="450", controls="controls")
									source(src="https://s3.amazonaws.com/uploads.hipchat.com/529982/3522632/N4rUNtbQ2o7vUdQ/playbook_CrossPeerEnviOnRemotePeer.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
							
							+accordion-item({"title": "2\) User management", "id": "UserRegistration"})
								video(width="100%", height="450", controls="controls")
									source(src="https://s3.amazonaws.com/uploads.hipchat.com/529982/3522632/tp24HzDSMyxX5pt/UserRegistration.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "3\) Multi host envrionment creation", "id": "CrossPeerWithTwoHosts"})
								video(width="100%", height="450", controls="controls")
									source(src="https://s3.amazonaws.com/uploads.hipchat.com/529982/3522632/Nrc5AYDSEm5ha0D/playbook_CrossPeerWithTwoHosts.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

							+accordion-item({"title": "4\) Registration to HUB", "id": "PeerRegistration"})
								video(width="100%", height="450", controls="controls")
									source(src="https://s3.amazonaws.com/uploads.hipchat.com/529982/3522632/WmFOKkpttWX2lGf/PeerRegistration.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

			.clear

		.page__footer
			+footer()
		
		//- Scripts
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
