include ../modules/head/head
include ../modules/footer/footer
include ../modules/browsehappy/browsehappy
include ../modules/header-inner/header-inner
include ../modules/sidebar/sidebar
include ../modules/page-title/page-title
include ../modules/demo/demo
include ../modules/accordion/accordion
include ../modules/analytics/analytics


doctype html
html(class="no-js" lang="en")

    head
        +head()

    body.page.page_background-gray
        +browsehappy(browsehappy)

        .page__header
            +header-inner()

        .page-docs

            .page-docs__content
                //-+demo()
                +sidebar('tutorials.html')

                .content-wrapper

                    +page-title({"title": "Tutorials: Hub registration"})

                    section
                        p
                        +accordion()
                            +accordion-item({"title": "1\) Registration to HUB", "open": true, "id": "PeerRegistration"})
                            video(width="100%", height="450", controls="controls", preload="none")
                                source(src="https://cdn.subut.ai:8338/kurjun/raw-files/raw.7dcacac9734785266aac7932765b95ee/download", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

            .page__footer
                +footer()

            .clear

        //- Scripts
        script(src='js/plugins.min.js')
        script(src='js/main.min.js')
        +analytics()
