
mixin main-slide-content(data)
	.main-slide-content
		h1.main-slide-content__title A new era in computing is coming 
		p.main-slide-content__text Your next personal computer won't be just another laptop, tablet, or wearable device: it will be EVERYTHING surrounding you, connected fluidly by adaptive peer-to-peer clouds driven by social interaction!
		.main-slide-content__button
			a(href="getting-started.html").button Join the Subutai Social Revolution
		.memory-block
			i.fa.fa-quote-left
			.memory-block__text
				| To the memory of the creator of C, UNIX and much more,
				a(href="tribute-to-Dennis-Ritchie.html") Dennis Ritchie.
				br
				| 1941-2011
			a(href="tribute-to-Dennis-Ritchie.html").memory-block__link
		.memory-down
			| The Subutai Social Community


