.main-slide-content
	color: white
	width: 370px;
	padding: 0 20px 0 20px;
	position: absolute;
	bottom: 30%;
	right: 0;
	+below($media-screen-xs)
		position relative
		bottom auto
		width auto
		padding 20px
	+hd(anti-overlap: true)
		bottom: 40%;
		width: 60%;


	&__title
		font-size: 22px;
		padding: 0 0 20px 0;
		margin: 0 0 0 0;
		color: white
		+hd(anti-overlap: true)
			font-size: 28px;

	&__text
		font-size: 16px;
		line-height: 25px;
		padding: 0 0 25px 0;
		margin: 0 0 0 0;
		+hd(anti-overlap: true)
			font-size: 20px;

	&__button
		text-align: center;

