
mixin main-slide-content(data)
	.main-slide-content
		h1.main-slide-content__title A new era in computing is coming 
		p.main-slide-content__text Everyone's personal computer won't just be a laptop, tablet, or wearable device: adaptive clouds will fluidly connect their owners with everything surrounding them!
		.main-slide-content__button
			a(href="getting-started.html").button Join the Subutai Social Revolution

