.footer-social
	padding: 0 0 0 0;
	margin: 0 0 0 0;

	&__item
		float: left;
		padding: 0 23px 0 0;
		margin: 0 0 0 0;
		list-style: none;

		&:last-child
			padding-right: 0;

	&-item
		display: inline-block;
		width: 16px;
		height: 16px;
		text-decoration: none;
		background-image: url(../img/footer-social.png);
		background-position: 0 0;
		background-repeat: no-repeat;

		&_hz
			background-position: 0 0;

		&_facebook
			background-position: -42px 0;

		&_twitter
			width: 20px;
			background-position: -82px 0;

		&:hover
			opacity: 0.8;

