mixin footer-social(data)
	ul.footer-social
		//-li.footer-social__item
			//-a(href="#").footer-social-item.footer-social-item_hz
		li.footer-social__item
			a(href="#").footer-social-item
				i.fa.fa-facebook-official
		li.footer-social__item
			a(href="#").footer-social-item
				i.fa.fa-twitter
		li.footer-social__item
			a(href="#").footer-social-item
				i.fa.fa-google-plus
		li.footer-social__item
			a(href="#").footer-social-item
				i.fa.fa-linkedin
		li.footer-social__item
			a(href="#").footer-social-item
				i.fa.fa-github-alt

