mixin footer-social(data)
	ul.footer-social
		//-li.footer-social__item
			//-a(href="#").footer-social-item.footer-social-item_hz
		li.footer-social__item Join us
		li.footer-social__item
			a(href="https://www.facebook.com/Unofficial-SS-500594660128829", target="_blank").footer-social-item
				i.fa.fa-facebook-official
		li.footer-social__item
			a(href="https://twitter.com/SubutaiSocial", target="_blank").footer-social-item
				i.fa.fa-twitter
		li.footer-social__item
			a(href="https://plus.google.com/103627275167018971893", target="_blank").footer-social-item
				i.fa.fa-google-plus
		li.footer-social__item
			a(href="https://www.linkedin.com/in/subutai-social-317b41117", target="_blank").footer-social-item
				i.fa.fa-linkedin
		li.footer-social__item
			a(href="https://github.com/subutai-io/base", target="_blank").footer-social-item
				i.fa.fa-github-alt

