mixin footer-social(data)
	ul.footer-social
		li.footer-social__item
			a(href="#").footer-social-item.footer-social-item_hz
		li.footer-social__item
			a(href="#").footer-social-item.footer-social-item_facebook
		li.footer-social__item
			a(href="#").footer-social-item.footer-social-item_twitter

