---
layout: default

css: >
    <link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet">

scripts: >
    <script src="/js/post.js"></script>
    <script src="/js/plugins/jquery.bxslider.js"></script>
    <script src="/js/plugins/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/plugins/tweet-fetcher.js"></script>
    <script>
        twitterFetcher.fetch('606323790323318784', 'twitter', 10, true);
        twitterFetcher.fetch('606326217512480768', 'twitter', 5, true, true, false);
    </script>
---
{% include header.html %}

<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                        <li class="active">{{ page.title }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container projectContainer">

        <div class="row">

            <div class="projectResourcesMenu">
                <h4 class="resourceMenuTitle">Project resources menu</h4>
                <div class="sliderVertical">
                    {% if page.jira %}

                    <div class="col-md-12 submenuHover" toggle-hov="jiraSubmenuHover" data-toggle="tooltip" data-placement="right" title="Jira">
                        <a type="button" href="{{ page.jira.url }}" class="atlassianIcon" target="_blank">
                            <img src="{{ site.baseurl }}/img/infrastructure/JIRA.png" alt="">
                        </a>

                    </div>
                    {% endif %}

                    {% if page.confluence %}
                    <div class="col-md-12 submenuHover" toggle-hov="confluenceSubmenuHover" data-toggle="tooltip" data-placement="right" title="Confluence">

                        <a type="button" class="atlassianIcon">
                            <img src="{{ site.baseurl }}/img/infrastructure/Confluence.png" alt="">
                        </a>

                    </div>
                    {% endif %}

                    {% if page.stash %}
                    <div class="col-md-12 submenuHover" toggle-hov="stashSubmenuHover" data-toggle="tooltip" data-placement="right" title="Stash">

                        <a type="button" class="atlassianIcon">
                            <img src="{{ site.baseurl }}/img/infrastructure/Stash.png" alt="">
                        </a>
                    </div>
                    {% endif %}

                    {% if page.sonar %}
                    <div class="col-md-12 submenuHover" toggle-hov="sonarSubmenuHover" data-toggle="tooltip" data-placement="right" title="Sonar">
                        <a type="button" href="{{ page.sonar.url }}" class="atlassianIcon" target="_blank">
                            <img src="{{ site.baseurl }}/img/infrastructure/SonarQube.png" alt="">
                        </a>
                    </div>
                    {% endif %}

                    {% if page.hipchat %}
                    <div class="col-md-12 submenuHover" toggle-hov="hipchatSubmenuHover" data-toggle="tooltip" data-placement="right" title="HipChat">

                        <a type="button" class="atlassianIcon">
                            <img src="{{ site.baseurl }}/img/infrastructure/Hipchat.png" alt="{{ h.name }}"/>
                        </a>
                    </div>
                    {% endif %}

                    {% if page.upsource %}
                    <div class="col-md-12 submenuHover" toggle-hov="upsourceSubmenuHover" data-toggle="tooltip" data-placement="right" title="Upsource">
                        <a type="button" href="{{ page.upsource.url }}" class="atlassianIcon" target="_blank">
                            <img src="{{ site.baseurl }}/img/infrastructure/Upsource.png" alt="">
                        </a>
                    </div>
                    {% endif %}
                </div>


                <!--tooltips-->
                <div class="projectResourcesSubmenu confluenceSubmenuHover">
                    <ul class="submenuIconSet">
                        {% for c in page.confluence.spaces %}
                        {% if c.scope == 'public' %}
                        <li>
                            <a type="button" href="{{ c.url }}" class="confluenceSubitem subDesr" target="_blank"  data-toggle="tooltip" data-placement="top" title="{{ c.description }}">
                                <img src="{{ site.basurl }}/img/confl.png">
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="projectResourcesSubmenu stashSubmenuHover">
                    <ul class="submenuIconSet">
                        {% for p in page.stash.project.repositories %}
                        <li data-toggle="tooltip" data-placement="top" title="{{ p.name }}">
                            <a type="button" href="{{ p.url }}" class="stashSubitem subDesr" target="_blank">
                                <img src="{{ site.baseurl }}/img/code.png">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="projectResourcesSubmenu hipchatSubmenuHover">
                    <ul class="submenuIconSet">
                        {% for h in page.hipchat.rooms %}
                        <li data-toggle="tooltip" data-placement="top" title="{{ h.name }}">
                            <a type="button" href="{{ h.web_url }}" class="hipchatSubitem subDesr" target="_blank">
                                <img src="{{ site.baseurl }}/img/hip.png">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="col-md-12">

                <!--left side menu-->
                <!--<div class="stickyPoint"></div>-->
                <div class="projectResourcesMenuMobile">

                    {% if page.jira %}
                    <div class="col-md-12 submenuHover">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle atlassianIcon" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <img src="{{ site.baseurl }}/img/infrastructure/JIRA.png" alt=""></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a type="button" href="{{ page.jira.url }}" class="confluenceSubitem subDesr" target="_blank">
                                            Jira
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if page.confluence %}
                    <div class="col-md-12 submenuHover">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle atlassianIcon" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <img src="{{ site.baseurl }}/img/infrastructure/Confluence.png" alt=""></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for c in page.confluence.spaces %}
                                    <li>
                                        <a type="button" href="{{ c.url }}" class="confluenceSubitem subDesr" target="_blank">
                                            {{ c.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if page.stash %}
                    <div class="col-md-12 submenuHover">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle atlassianIcon" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <img src="{{ site.baseurl }}/img/infrastructure/Stash.png" alt=""></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for p in page.stash.project.repositories %}
                                    <li>
                                        <a type="button" href="{{ p.url }}" class="confluenceSubitem subDesr" target="_blank">
                                            {{ p.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if page.sonar %}
                    <div class="col-md-12 submenuHover">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle atlassianIcon" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <img src="{{ site.baseurl }}/img/infrastructure/SonarQube.png" alt=""></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a type="button" href="{{ page.sonar.url }}" class="confluenceSubitem subDesr" target="_blank">
                                            Sonar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if page.hipchat %}
                    <div class="col-md-12 submenuHover">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle atlassianIcon" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <img src="{{ site.baseurl }}/img/infrastructure/Hipchat.png" alt=""></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for h in page.hipchat.rooms %}
                                    <li>
                                        <a type="button" href="{{ h.web_url }}" class="confluenceSubitem subDesr" target="_blank">
                                            Hipchat - {{ h.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if page.upsource %}
                    <div class="col-md-12 submenuHover">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle atlassianIcon" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <img src="{{ site.baseurl }}/img/infrastructure/Upsource.png" alt=""></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a type="button" href="{{ page.upsource.url }}" class="confluenceSubitem subDesr" target="_blank">
                                            Sonar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
                <!-- project resources menu end -->


                <!--<div class="col-sm-9">-->
                <div class="portfolio-title">
                    <div class="portfolio-nav-all col-md-12">
                        <a href="{{ site.baseurl }}/projects" data-tooltip data-original-title="To projects"><i
                                class="fa fa-reply"></i></a>

                        <h4>Project key: </h4> <h4 class="projectKey"><strong> {{ page.key }} </strong></h4>
                        {% if page.parent %}
                        <h4>Parent project: </h4> <h4 class="projectKey"><strong> <a href="{{ site.baseurl }}/projects/{{ page.parenturl }}">{{ page.parent }} </a></strong></h4>
                        {% endif %}


                    </div>
                </div>

                <!-- project title end -->
                <div class="col-sm-3">
                    <img class="img-thumbnail" src="{{site.baseurl }}/media/{{page.key}}/{{page.website.large_logo_64}}">
                </div>


                <div class="col-sm-9">
                    <p class="projectDescription">{{ page.long_description }}</p>

                    <div class="rightSidebarMobile">

                        {% for groups in page.security %}
                        {% if groups[0] == 'admins' or groups[0] == 'developers' or groups[0] == 'lead' %}
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle primary" data-toggle="dropdown" role="button" type="button" aria-expanded="false">{{ groups[0] | upcase }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">

                                    {% for g in groups %}

                                    {% for member in g.members %}
                                    <li><a href="#">{{ member.ldap-user.cn }}</a></li>
                                    {% endfor %}

                                    {% if g.teams %}
                                    {% for t in g.teams %}
                                    {% if t.members%}
                                    {% for member in t.members %}
                                    <li><a href="#"> {{ member.ldap-user.cn }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    {% if  t.ldap-user %}
                                    <li><a href="#">{{ t.ldap-user.cn }}</a> </li>
                                    {%endif%}
                                    {% endfor %}
                                    {% endif %}

                                    {% if g.ldap-user %}
                                    <li><a href="#">{{ g.ldap-user.cn }}</a> </li>
                                    {% endif %}

                                    {% endfor %}
                                </ul>


                            </li>
                        </ul>
                        {% endif %}
                        {% endfor %}

                        {% if page.children %}

                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <!-- suda-->
                                <a href="#" class="dropdown-toggle primary" data-toggle="dropdown" role="button" type="button" aria-expanded="false">Child projects <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for c in page.children %}
                                    <li><a href="#">{{ c.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        {% endif %}


                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <!-- suda-->
                                <a href="#" class="dropdown-toggle primary" data-toggle="dropdown" role="button" type="button" aria-expanded="false">Tags <span class="caret"></span></a>

                                <ul class="dropdown-menu" role="menu">
                                    {% for t in page.tags %}
                                    <li><a href="#">{{ t }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--</div>-->


            </div>
            <div class="col-md-12">
                <hr/>
                <div id="bannerSlider" class="owl-carousel">

                    {% if page.website.banner_media %}
                    {% for b in page.website.banner_media %}

                    <div><img src="{{ site.baseurl }}/media/banners/{{b}}" onError="this.onerror=null;this.src='/img/empty-project.png';" alt=""></div>


                    {% endfor %}
                    {% endif %}
                </div>
                <hr/>
            </div>

            <div class="col-md-12">
                <div class="tabs customTabsDesign fadeInUp">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#downloads" data-toggle="tab"> <i class="fa fa-cloud-download"></i>Downloads </a>
                        </li>
                        <li>
                            <a href="#news" data-toggle="tab"><i class="fa fa-newspaper-o"></i> News </a>
                        </li>
                        <li>
                            <a href="#blogs" data-toggle="tab"><i class="fa fa-rss"></i> Blogs </a>
                        </li>
                        <li>
                            <a href="#twitter" data-toggle="tab"> <i class="fa fa-twitter"></i>Twitter </a>
                        </li>
                        <li>
                            <a href="#activity" data-toggle="tab"> <i class="fa fa-git"></i>Activity </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div id="downloads" class="tab-pane active">
                            {% for d in page.website.downloads %}
                            <a href="{{ d.url }}">{{ d.description }}</a>
                            {% endfor %}
                        </div>
                        <div id="news" class="tab-pane">
                            {% for post in site.categories['news'] %}
                            {% for tag in post.tags %}
                            {% if tag == 'SS' %}
                            <div>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                                <div>{{ post.content | strip_html | strip_newlines | jsonify | replace:'\t','' | truncatewords: 10 }}</div>
                                <div>{{ post.date | date_to_string }} <a href="{{ post.url }}">Read more</a></div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                        <div id="blogs" class="tab-pane">
                            {% for b in page.blogs %}
                            <p><a href="{{ b.url }}"><i class="fa fa-paragraph"></i> {{ b.title }}</a></p>
                            {% endfor %}
                        </div>
                        <div id="twitter" class="tab-pane">
                            No tweets
                        </div>
                        <div id="activity" class="tab-pane">
                            <hidden id="activity_rep" value="{{ page.key }}"></hidden>
                            Access to git commits denied
                        </div>

                    </div>
                </div>
            </div>

            <!-- right side menu-->
            <!--<div class="stickyPoint"></div>-->
            <div class="rightSidebar">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    {% for groups in page.security %}

                    {% if groups[0] == 'admins' or groups[0] == 'developers' or groups[0] == 'lead' %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ groups[0] | capitalize }}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ groups[0] | capitalize }}" aria-expanded="false" aria-controls="collapse{{ groups[0] | capitalize }}">
                                    {{ groups[0] | capitalize }}
                                </a>
                            </h4>
                        </div>

                        <div id="collapse{{ groups[0] | capitalize }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ groups[0] | capitalize }}">
                            <div class="panel-body">
                                <ul class="projectDevelopers mCustomScrollbar" data-mcs-theme="minimal-dark">

                                    {% for g in groups %}
                                    {% for member in g.members %}
                                    {% if member.ldap-user.cn %}
                                    <li><i class="fa fa-user"></i> {{ member.ldap-user.cn }}</li>
                                    {% endif %}
                                    {% endfor %}


                                    {% for t in g.teams %}
                                    {% if t.members %}
                                    {% for member in t.members %}
                                    {% if member.ldap-user.cn %}
                                    <li><i class="fa fa-user"></i> {{ member.ldap-user.cn }}</li>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% if t.ldap-user.cn %}
                                    <li><i class="fa fa-user"></i> {{ t.ldap-user.cn }}</li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if g.ldap-user.cn %}
                                    <li><i class="fa fa-user"></i> {{ g.ldap-user.cn }}</li>
                                    {% endif %}

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% if page.children %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Child projects
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div>
                                    {% for c in page.children %}

                                    <ul class="nav nav-list primary">
                                        <li><a href="{{ site.baseurl }}/projects/{{ c.website.website }}">{{ c.name }}</a></li>
                                    </ul>

                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Tags
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                {% for t in page.tags %}

                                <ul class="nav nav-list primary">
                                    <li><a href="{{ site.baseurl }}/projects/?category={{ t }}">{{ t }}</a></li>
                                </ul>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- row end -->

    </div>
    <!-- container end -->
</div>

{% include footer.html %}