---
layout: default
---
{% include header.html %}

<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="{{ site.baseurl }}/projects">projects</a></li>
                        <li class="active">{{ page.title }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </section>


    <div class="container">

        <div class="portfolio-title">
            <div class="row clearfix">
                <div class="portfolio-nav-all col-md-1">
                    <a href="{{ site.baseurl }}/category/projects" data-tooltip data-original-title="To projects"><i
                            class="fa fa-reply"></i></a>
                </div>
                <div class="col-md-10 center">
                    <h2 class="shorter"></h2>
                </div>
                <div class="portfolio-nav col-md-1">
                </div>
            </div>
        </div>
        
        <div class="row">
            <h1>Overview</h1>
            <p>{{ page.long_description }}</p>

            {% if page.parent %}
            <a href="{{ site.baseurl }}/projects/{{ page.parent }}" class="btn btn-primary"
               role="button">Parent: {{ page.parent }} <i class="fa fa-arrow-circle-o-right"></i></a>
            {% endif %}


            {% if page.children %}
            <hr/>
            <h1 class="sectionTitle">Sub projects</h1>

            <div>
                {% for c in page.children %}

                <p><a href="{{ site.baseurl }}/projects/{{ c.parent }}/{{ c.key }}"
                      class="btn btn-primary" role="button">{{ c.name }} <i
                        class="fa fa-arrow-circle-o-right"></i></a></p>

                <p> {{ c.short_description }}</p>
                {% endfor %}
            </div>
            {% endif %}


            {% if project.hipchat.rooms %}
            <hr/>
            <h1>Hipchat rooms</h1>
            {% for h in project.hipchat.rooms %}

            <p><a href="{{ h.web }}">{{ h.name }}</a></p>

            {% endfor %}
            {% endif %}

            <!-- Modal -->
            <div class="modal fade" id="confluenceModal" tabindex="-1" role="dialog" aria-labelledby="confluenceModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {% for c in page.confluence.spaces %}
                            <h4 class="modal-title" id="confluenceModalLabel">{{ c.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <p><strong>Space scope:</strong> {{ c.scope }}</p>
                            <p><strong>Space type:</strong> {{ c.type }}</p>
                            <p><strong>Space description:</strong> {{c.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a href="{{ c.url }}" class="btn btn-primary" role="button">Take me to project space <i class="fa fa-arrow-circle-o-right"></i></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="jiraModal" tabindex="-1" role="dialog" aria-labelledby="jiraModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="jiraModalLabel">{{ page.jira.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <p><strong>Project description in Jira: </strong>{{ page.jira.description }}</p>
                            <p><strong>Project scope in Jira: </strong>{{ page.jira.scope }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a href="{{ page.jira.url }}" class="btn btn-primary" role="button">Project on Jira <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="stashModal" tabindex="-1" role="dialog" aria-labelledby="stashModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="stashModalLabel">{{ page.stash.project.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Repos</h5>
                            {% for p in page.stash.project.repositories %}
                            <p><strong>Repository name: </strong>{{ p.name }}</p>
                            <p><strong>Repository scope: </strong>{{ p.scope }}</p>
                            <a href="{{ p.url }}" class="btn btn-primary" role="button">Repository <i class="fa fa-arrow-circle-o-right"></i></a>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a href="{{ page.stash.project.url }}" class="btn btn-primary" role="button">Project on Stash <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12"><br>

                <div class="row atlassianBlock">
                    <div class="col-md-4">
                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#jiraModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product jira">JIRA</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12  infrastructure">
                            <a type="button" data-toggle="modal" data-target="#confluenceModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product confluence">Confluence</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#stashModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product stash">Stash</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#bambooModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product bamboo">Bamboo</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#cloverModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product clover">Clover</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#calendarModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product team-calendar">TeamCalendars</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#gliffyModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product gliffy">Gliffy</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#crowdModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product crowd">Crowd</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#fisheyeModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product fisheye">Fisheye</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#crucibleModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product crucible">Crucible</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" data-toggle="modal" data-target="#ideaModal">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product intelij-idea">IntelijIDEA</h4>
                                </div>
                            </a>
                        </div>
                        <br><br>

                        <div class="col-md-12 infrastructure">
                            <a type="button" href="{{ page.sonar.url }}">
                                <div class="infrastructure-box-icon">
                                    <h4 class="infrastructure-product sonar-qube">SonarQube</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="center push-top">
                <div class="owl-carousel" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 1 "><img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-1.png" alt=""></a>
                    </div>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 2 "><img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-2.png" alt="logo2"></a>
                    </div>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 3 "> <img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-3.png" alt="logo3"></a>
                    </div>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 4 "> <img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-4.png" alt="logo4"></a>
                    </div>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 5 "> <img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-5.png" alt="logo5"></a>
                    </div>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 6 "> <img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-6.png" alt="logo6"></a>
                    </div>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 4 "><img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-4.png" alt="logo4"></a>
                    </div>
                    <div>
                        <a href="{{ site.baseurl }}/" title="Logo 2 "><img class="img-responsive" src="{{ site.baseurl }}/img/logos/logo-2.png" alt="logo2"></a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-12 banners center">-->
            <!--<h4>Banners</h4>-->

            <!--{% for b in page.website.banner_media %}-->
            <!--<div>{{ b }}</div>-->
            <!--{% endfor %}-->

            <!--</div>-->
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#whois" data-toggle="tab"><i class="fa fa-star"></i> Who is involved </a>
                        </li>
                        {% if page.domains %}
                        <li>
                            <a href="#domains" data-toggle="tab"> Domains </a>
                        </li>
                        {% endif %}
                        {% if page.hub %}
                        <li>
                            <a href="#hub" data-toggle="tab"> Hub </a>
                        </li>
                        {% endif %}
                        {% if page.jarvis %}
                        <li>
                            <a href="#jarvis" data-toggle="tab"> Jarvis </a>
                        </li>
                        {% endif %}
                        {% if page.keshing %}
                        <li>
                            <a href="#keshing" data-toggle="tab"> Keshing </a>
                        </li>
                        {% endif %}
                        {% if page.list_archives %}
                        <li>
                            <a href="#list_archives" data-toggle="tab"> Archives </a>
                        </li>
                        {% endif %}
                        {% if page.mail_lists %}
                        <li>
                            <a href="#mail_lists" data-toggle="tab"> Mail lists </a>
                        </li>
                        {% endif %}
                        {% if page.nexus %}
                        <li>
                            <a href="#nexus" data-toggle="tab"> Nexus </a>
                        </li>
                        {% endif %}
                        {% if page.ontologies %}
                        <li>
                            <a href="#ontologies" data-toggle="tab"> Ontologies </a>
                        </li>
                        {% endif %}
                        {% if page.monitoring %}
                        <li>
                            <a href="#monitoring" data-toggle="tab"> Monitoring </a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div id="whois" class="tab-pane active">

                            {% for groups in page.security %}
                            {% for g in groups %}
                            <h1 class="sectionTitle">{{ g.displayName }}</h1>
                            {% for t in g.teams %}

                            <p>{{ t.displayName }}</p>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img data-src="holder.js/100%x200" alt="100%x200"
                                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2ODc1IiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4="
                                             data-holder-rendered="true"
                                             style="height: 200px; width: 100%; display: block;">

                                        <div class="caption">
                                            <h3>{{ t.ldap-user.cn }}</h3>

                                            <p>- {{ t.ldap-user.email }}</p>

                                            {% if t.blog_page %}
                                            <p><i class="fa fa-paragraph"></i> {{ t.blog_page }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            {% endfor %}
                            {% endfor %}

                        </div>

                        <div id="domains" class="tab-pane">
                            <p>Domains</p>
                            {{ page.domains }}
                        </div>

                        <div id="hub" class="tab-pane">
                            <p>Hub</p>
                            {{ page.hub }}
                        </div>

                        <div id="jarvis" class="tab-pane">
                            <p>Jarvis</p>
                            {{ page.jarvis }}
                        </div>

                        <div id="keshing" class="tab-pane">
                            <p>Keshing</p>
                            {{ page.keshing }}
                        </div>

                        <div id="list_archives" class="tab-pane">
                            <p>Archives</p>
                            {{ page.list_archives }}
                        </div>

                        <div id="mail_lists" class="tab-pane">
                            <p>Mail lists</p>
                            {{ page.mail_lists }}
                        </div>

                        <div id="nexus" class="tab-pane">
                            <p>Nexus</p>
                            {{ page.nexus }}
                        </div>

                        <div id="ontologies" class="tab-pane">
                            <p>Ontologies</p>
                            {{ page.ontologies }}
                        </div>

                        <div id="monitoring" class="tab-pane">
                            <p>Monitoring</p>
                            {{ page.monitoring }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 related-projects">
                <aside class="sidebar">
                    <h4>PROJECT TAGS</h4>
                    {% for t in page.tags %}

                    <ul class="nav nav-list primary">
                        <li><a href="{{ site.baseurl }}/tag/{{ t }}">{{ t }}</a></li>
                    </ul>

                    {% endfor %}
                </aside>
            </div>


            {{ content }}
        </div>

    </div>

</div>

{% include footer.html %}