include ../logo/logo
include ../main-menu/main-menu

mixin header(data)
	header.header
		.header__logo
			+logo()

		.header__menu
			a(href="getting-started.html").button Getting started
		
		.header__menu
			+main-menu(mainMenu.default)

		.clear
