
mixin possibilities-item(data)
	.possibilities-item
		.possibilities-item__background
		.possibilities-item__foreground
			.possibilities-item__img(class="possibilities-item__img_" + data.icon)
			.possibilities-item__info
				h2.possibilities-item__title!= data.title
				p.possibilities-item__text!= data.text
				a(href="#").possibilities-item__lern-more Learn more ...

