
mixin possibilities-item(data)
	.possibilities-item
		.possibilities-item__background
		.possibilities-item__foreground
			.possibilities-item__img(class="possibilities-item__img_" + data)
			.possibilities-item__info
				h2.possibilities-item__title Socialized Services
				p.possibilities-item__text P2P is all about sharing, and sharing is a social activity.
				a(href="#").possibilities-item__lern-more Learn more ...

